ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}
h1 {
  color: purple;
}
h2 {
  color: brown;
}
h2{
  font-display: swap;
}
p {
   color: red;
}
/* Write your CSS below, don't change the rules above. */
.notes {
  font-size: 20px;
  }
#id-selector-demo {
  color: blue;
}
li[value="4"] {
  color: green;
}
li[value="5"] {
  color: orange;
}
* {
  font-family: sans-serif;
  text-align: center;
}